# Client-side (Vite) crypto checkout settings
VITE_PAY_ADDR_BTC=bc1qvq2aq6fvelyaar2hhutm45285v6dac95egsgq4
VITE_PAY_ADDR_ETH=0x7d86408A986C041dEA940Ad13D84E6A2BbB2fAC2
VITE_PAY_ADDR_LTC=ltc1qt5h35ew0m0qq300r3qyzj49ezuzn8n9e45u9m3
VITE_PAY_ADDR_DOGE=DDu9YLwwkRkjGkjUMPjsDTqZXcgA75FMcd
VITE_PAY_ADDR_USDT=0x7d86408A986C041dEA940Ad13D84E6A2BbB2fAC2
VITE_PAY_ADDR_USDC=0x7d86408A986C041dEA940Ad13D84E6A2BbB2fAC2

# USD per coin rates used to compute payment amount
VITE_PAY_RATE_BTC=80,485.65
VITE_PAY_RATE_ETH=2,269.00
VITE_PAY_RATE_LTC=57.24
VITE_PAY_RATE_DOGE=0.10
VITE_PAY_RATE_USDT=1
VITE_PAY_RATE_USDC=1

# Server-side (API) crypto payment settings
PAY_ADDR_BTC=bc1qvq2aq6fvelyaar2hhutm45285v6dac95egsgq4
PAY_ADDR_ETH=0x7d86408A986C041dEA940Ad13D84E6A2BbB2fAC2
PAY_ADDR_LTC=ltc1qt5h35ew0m0qq300r3qyzj49ezuzn8n9e45u9m3
PAY_ADDR_DOGE=DDu9YLwwkRkjGkjUMPjsDTqZXcgA75FMcd
PAY_ADDR_USDT=0x7d86408A986C041dEA940Ad13D84E6A2BbB2fAC2
PAY_ADDR_USDC=0x7d86408A986C041dEA940Ad13D84E6A2BbB2fAC2

# Optional Blockchair API key
BLOCKCHAIR_API_KEY=

